<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h2><Center>About Me</Center></h2>

<img src="https://i.imgur.com/P3xg00o.jpg" alt="Simply Easy Learning" height="320" style="width:200px">
<body><Center>
   Hello, I was born in Upland, California on September 22nd 1996. I was raised in Rancho Cucamonga and attend school at Chaffey College. My major is Multimedia Studies which is an interdisciplinary field that focuses on the understanding of technologies as well as involving the cultural perspectives by connecting traditional media sources with new media to support social systems.
</Center></body>

    <ul><body><Center>
    I want to create digital audio workstations with my cs50 certificate.
    </ul>
</Center></body>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<p>
</Center><p><strong><Center>Resize the browser window to see the effect.</Center></strong></p>
 <ul><Center><body>
    <video width="560" height="315" controls>
      <source src=”https://www.youtube.com/watch?v=LY_M9tLgojg” type=video/ogg>
      <source src="/portfolio/static/Clinton - Mr Hood Class Project.mp4" type=video/mp4>
    </video>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </body></Center></ul>
<script>
function myFunction(x) {
  if (x.matches) { // If media query matches
    document.body.style.backgroundColor = "yellow";
  } else {
   document.body.style.backgroundColor = "pink";
  }
}

var x = window.matchMedia("(max-width: 700px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes
</script>

</body>
</html> 
